body
{
    color: rgb(127, 255, 244);
    background: rgb(43, 255, 0);
}
.heading
{
    width: 80%;
    font-size: 22;
}
.name_of_objects, #result_object_name, #result_object_accurancy
{
    color: yellow;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300;
}